Source: xournalpp
Maintainer: Georges Khaznadar <georgesk@debian.org>
Section: misc
Priority: optional
Standards-Version: 4.1.3
Build-Depends: debhelper (>= 11),
 cmake,
 libgtk-3-dev,
 libpoppler-glib-dev,
 libxml2-dev,
 portaudio19-dev,
 libsndfile-dev,
 liblua5.3-dev,
 libzip-dev
Homepage: https://github.com/xournalpp/xournalpp
Vcs-Browser: https://github.com/georgesk/xournalpp
Vcs-Git: https://github.com/georgesk/xournalpp.git

Package: xournalpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: handwriting Notetaking software for PDF files
 Xournal++ allows one to annotate PDF files. It supports Pen input like
 Wacom Tablets.



